<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- variants bean -->
    <bean id="var" class="trim.variants">
        <property name="color" value="red"/>
        <property name="size" value="27"/>
    </bean>

    <!-- mobile bean -->
    <bean id="mob" class="trim.mobile">
        <property name="name" value="vivo"/>
        <property name="price" value="15000"/>
        <property name="variants" ref="var"/>
    </bean>

</beans>
